:root {
  --black: #000;
  --white: #fff;
  --purple: #9d5cd0;
  --gray: #999;
  --dark: #333;
  --gray-light: #999;
  --primary: var(--black);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  cursor: pointer;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--purple);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.sry-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 16px 26px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
}
.btn--primary {
  background: var(--purple);
  color: var(--white, #fff);
}
.btn--secondary {
  border: 2px solid var(--purple);
  color: var(--purple);
  transition: 0.1s all;
  transition-property: background-color, color;
}
.btn--secondary:hover {
  background-color: var(--purple);
  color: var(--white);
}

.input-group__input {
  -moz-appearance: textfield;
}
.input-group__input::-webkit-inner-spin-button, .input-group__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.placeholder {
  max-width: 740px;
  margin: 24px auto;
  font-family: sans-serif;
  text-align: justify;
  pointer-events: none;
  user-select: none;
}
.placeholder__word {
  border-radius: 3px;
  background: #eee;
  color: #eee;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

.section-title {
  padding-top: 85px;
  color: var(--dark);
  font-weight: 400;
  font-size: 3rem;
}
.section-desc {
  max-width: 1080px;
  padding-top: 20px;
  line-height: 2;
}

.login-link {
  color: var(--white, #fff);
  font-size: 1.125rem;
}

.text-purple {
  color: var(--purple, #9d5cd0);
}
.text-light {
  color: var(--white, #fff);
}
.text-gray {
  color: var(--gray, #999);
}

.search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;
}
.search__icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background-image: url("../icon/search.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.search__input {
  min-width: 222px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--white, #fff);
  color: var(--white, #fff);
  font-size: 18px;
}
.search__input::placeholder {
  color: var(--white, #fff);
}

.filter {
  user-select: none;
}
.filter__desc {
  font-weight: 600;
}
.filter__header, .filter__option {
  cursor: pointer;
  transition: 60ms all;
  transition-property: border-color, color, background, transform;
}
@media (hover: hover) {
  .filter__header:hover, .filter__option:hover {
    border-color: var(--white);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
  }
}
.filter__header {
  margin: 16px 0 -1px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.filter__body {
  margin: 0;
  border-color: var(--gray);
  color: var(--gray);
}
.filter__option {
  margin-bottom: -1px;
  padding: 10px 20px;
  border: 1px solid var(--gray);
}
.filter__option:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.filter__option:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
@media (hover: hover) {
  .filter__option:hover {
    transform: scale(1.005);
  }
}

.language-picker {
  display: flex;
}
.language-picker__item:not(:last-child) {
  margin-right: 35px;
}
.language-picker__btn {
  width: 62px;
  height: 62px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 0.2s border-color;
}
.language-picker__btn:hover, .language-picker__btn:focus {
  border-color: var(--gray-light);
  outline: none;
}
.language-picker__btn.selected {
  border-color: var(--purple);
}
.language-picker__img {
  padding: 8px;
}

.personality__avatar {
  display: inline-block;
  margin-bottom: 30px;
}
.personality__name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1.5rem;
}
.personality__date {
  margin-bottom: 8px;
  color: var(--gray-light);
  font-size: 0.75rem;
}
.personality__desc {
  line-height: 2rem;
}

.accordion {
  overflow: hidden;
  width: 100%;
}
.accordion__item {
  position: relative;
  border-bottom: 1px solid #cacaca;
}
.accordion__item:first-child {
  border-top: 1px solid #cacaca;
}
.accordion__item--opened {
  border-bottom-color: var(--purple);
}
.accordion__item::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--dark);
  transition: 0.3s transform;
  transform: translateX(-100%);
}
.accordion__item:focus::before, .accordion__item:hover:not(.accordion__item--opened)::before {
  transform: translateX(0);
}
.accordion__btn {
  position: relative;
  width: 100%;
  padding: 44px 0;
  border-bottom: 1px solid transparent;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
}
.accordion__btn:focus {
  outline: none;
}
.accordion__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background: url("../icon/arrow-down.svg") center no-repeat;
  background-size: cover;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s all;
  transition-property: transform, opacity;
}
.accordion__item--opened .accordion__btn {
  border-bottom-color: var(--purple);
}
.accordion__item--opened .accordion__btn::after {
  transform: rotate(180deg);
}
.accordion__btn:focus::after, .accordion__btn:hover::after, .accordion__item--opened .accordion__btn::after {
  opacity: 1;
}
.accordion__body {
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s max-height ease;
}
.accordion__body-content {
  padding: 35px 0;
}
.accordion__item--opened .accordion__body {
  max-height: 300px;
}
.accordion__option {
  display: inline-flex;
  flex-wrap: wrap;
  width: 30%;
  margin-right: 15px;
  text-align: left;
  cursor: pointer;
  transition: 0.2s color;
}
.accordion__option:not(:last-child) {
  margin-bottom: 14px;
}
.accordion__option:hover, .accordion__option--selected {
  color: var(--purple);
}
.accordion__option--selected {
  font-weight: 600;
}

.item-event {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  border: 1px solid #ddd;
}
.item-event__image-box {
  max-width: 500px;
}
.item-event__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 10px 35px 0 50px;
}
.item-event__info {
  padding: 14px 18px 0 0;
  color: var(--gray, #999);
  font-size: 0.75rem;
  text-align: right;
}
.item-event__title {
  margin-bottom: 5px;
  font-size: 1.45rem;
  line-height: 1.3;
}
.item-event__desc {
  line-height: 2rem;
}
.item-event__link {
  margin-top: 90px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-direction: column;
}
.checkbox__title {
  margin-bottom: 14px;
  font-weight: 700;
}
.checkbox__item {
  user-select: none;
}
.checkbox__item:not(:last-child) {
  margin-bottom: 14px;
}
.checkbox__img {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 0.1s border-color;
}
@media (hover: hover) {
  .checkbox__img:hover {
    border-color: var(--gray-light);
  }
}
.checkbox__icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid;
}
.checkbox__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.1s background-color;
}
.checkbox__icon:focus {
  outline: none;
}
.checkbox__icon:focus::after {
  background-color: #fff;
}
.checkbox__item:hover .checkbox__icon::after {
  background-color: var(--white);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--purple);
}
.checkbox__input:checked + .checkbox__icon::after {
  background-color: var(--purple);
}

.slider-nav {
  display: flex;
  align-items: center;
}
.slider-nav__fraction {
  width: auto;
  margin: 0 20px;
}
.slider-nav__btn-prev, .slider-nav__btn-next {
  width: 30px;
  height: 30px;
  background-image: url("../icon/slider-arrow-right.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-nav__btn-prev {
  transform: rotate(180deg);
}

.input-group {
  --input-group-border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  border: var(--input-group-border);
}
.input-group--rounded {
  border-radius: 6px;
}
.input-group__prepend, .input-group__append {
  overflow: hidden;
}
.input-group__label, .input-group__input {
  padding: 10px 11px;
}
.input-group__label:not(:first-child) {
  margin-left: -1px;
}
.input-group__label:not(:last-child) {
  margin-right: -1px;
}
.input-group__input {
  max-width: 73px;
  background-color: rgba(157, 92, 208, 0.5);
  color: inherit;
}
.input-group__input::placeholder {
  color: inherit;
}
.input-group__prepend {
  margin-right: -1px;
  border-radius: 6px 0 0 6px;
}
.input-group__append {
  margin-left: -1px;
  border-radius: 0 6px 6px 0;
}

.editions-slider {
  overflow: hidden;
}
.editions-slider__navigation {
  margin-bottom: 32px;
}
.editions-slider__item {
  width: auto;
}
.editions-slider__img {
  object-fit: cover;
  width: 350px;
  height: 390px;
  margin-bottom: 20px;
}
.editions-slider__meta {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 16px;
}
.editions-slider__price {
  font-style: italic;
}
.editions-slider__title {
  margin-bottom: 5px;
  font-weight: 700;
}
.editions-slider__btn {
  padding: 10px 20px;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans Semibold"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}
.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 25px;
}

.header {
  position: absolute;
  width: 100%;
  color: var(--white, #fff);
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__primary {
  padding: 29px 0;
  background: var(--primary);
}
.header__secondary {
  padding: 21px 0;
  background: rgba(0, 0, 0, 0.4);
}
.header__nav {
  margin-right: 105px;
}
.header__list {
  display: flex;
  flex-direction: row;
}
.header__item {
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}
.header__item:not(:last-child) {
  margin-right: 62px;
}
.header__item--dropdown {
  font-weight: 400;
}
.header__item--dropdown:not(:last-child) {
  margin-right: 97px;
}
.header__item--dropdown::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("../icon/dropdown-arrow-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__link {
  color: var(--white, #fff);
}

.hero {
  min-height: 800px;
  background: url("../img/hero-1.jpg") no-repeat center;
  background-size: cover;
  color: var(--white, #fff);
}
.hero__title {
  max-width: 600px;
  margin-left: -5px;
  padding-top: 242px;
  font-size: 4.5rem;
}
.hero__desc {
  max-width: 580px;
  padding-top: 21px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.7;
}
.hero__btn {
  margin-top: 90px;
  padding: 26px 36px;
  font-size: 1.125rem;
}

.about__container {
  padding-bottom: 70px;
}

.gallery {
  background: url("../img/gallery-bg.jpg") center no-repeat;
  background-size: cover;
  color: var(--white);
}
.gallery__container {
  display: grid;
  grid-template-areas: "header slider" "note slider";
  grid-template-rows: 430px 400px;
  grid-template-columns: 400px calc(100% - 400px);
  grid-column-gap: 50px;
  padding-top: 85px;
  padding-bottom: 80px;
}
.gallery__header {
  grid-area: header;
}
.gallery__title {
  padding: 0;
  color: var(--white, #fff);
}
.gallery__filter {
  padding-top: 30px;
}
.gallery__slider {
  position: relative;
  grid-area: slider;
  overflow: hidden;
  width: 100%;
  max-width: 1150px;
  height: 100%;
}
.gallery__item {
  height: auto;
}
.gallery__img {
  width: auto;
  max-width: 350px;
  max-height: 350px;
}
.gallery__navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}
.gallery__note {
  grid-area: note;
  align-self: flex-end;
  max-width: 360px;
  margin-bottom: -11px;
  line-height: 32px;
}

.catalog__container--bottom {
  display: flex;
  padding-top: 35px;
}
.catalog__header {
  display: flex;
  align-items: flex-start;
  padding-top: 85px;
}
.catalog__desc {
  padding-top: 15px;
}
.catalog__title {
  margin-right: 30px;
  padding: 0;
}
.catalog__personality {
  max-width: 750px;
}
.catalog__accordion {
  margin: 0 0 0 45px;
}

.events {
  margin-bottom: 80px;
}
.events__title {
  margin-bottom: 20px;
}
.events__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 50px;
  justify-content: center;
  margin-bottom: 48px;
}
.events__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 19px 34px;
  font-size: 1.1rem;
}

.editions {
  background: url("../img/editions-bg.jpg");
  background-size: cover;
}
.editions__container {
  display: flex;
  justify-content: space-between;
  padding: 83px 6px 75px 22px;
}
.editions__title {
  margin-bottom: 28px;
  padding-top: 0;
  color: var(--white, #fff);
}
.editions__checkbox {
  margin-bottom: 40px;
}
.editions__price-title {
  margin-bottom: 18px;
  font-weight: 700;
}
.editions--right-side {
  max-width: 100%;
  padding-top: 30px;
}
.editions__slider {
  max-width: 1150px;
}

* {
  outline: unset;
}
*:focus {
  outline: 3px auto;
}

/*# sourceMappingURL=main.css.map */
