:root {
  --black: #000;
  --white: #fff;
  --purple-light: #d1a9f0;
  --purple: #9d5cd0;
  --purple-dark: #7943a4;
  --gray: #999;
  --gray-light: #cacaca;
  --dark: #333;
  --primary: var(--black);
  --outline-color: var(--purple);
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-track {
  background-color: var(--black);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--white);
}
*:focus {
  outline: 3px solid var(--outline-color);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--purple);
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

.link-primary {
  border: 2px solid transparent;
  transition: 0.3s all;
  transition-property: color, border-color;
}
.link-primary:hover {
  color: var(--purple);
}
.link-primary:active {
  color: var(--purple-dark);
}
.link-primary:focus {
  outline: none;
}
.link-primary:focus-visible {
  border-color: var(--outline-color);
  outline: none;
  transition: 0s all;
}

.btn {
  display: inline-block;
  padding: 16px 26px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all;
  transition-property: color, border-color, background-color;
}
.btn--primary {
  border: 3px solid transparent;
  background: var(--purple);
  color: var(--white, #fff);
}
.btn--primary:hover {
  border-color: var(--purple-light);
}
.btn--primary:active {
  background-color: var(--purple-dark);
}
.btn--primary:focus {
  outline: none;
}
.btn--primary:focus-visible {
  border-style: double;
  border-color: var(--purple-light);
}
.btn--secondary {
  border: 2px solid var(--outline-color);
  color: var(--purple);
  transition: 0.1s all;
  transition-property: background-color, color;
}
.btn--secondary:hover {
  background-color: var(--purple);
  color: var(--white);
}
.btn--secondary:active {
  background-color: var(--purple-dark);
}
.btn--secondary:focus {
  outline: none;
}
.btn--secondary:focus-visible {
  border-style: double;
  border-color: var(--purple-light);
}

[class*=-ground-pane] {
  filter: grayscale(1);
}

.input-group__input {
  -moz-appearance: textfield;
}
.input-group__input::-webkit-inner-spin-button, .input-group__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.placeholder {
  font-family: sans-serif;
  text-align: justify;
  pointer-events: none;
  user-select: none;
}
.placeholder__word {
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 3px;
  background: #eee;
  color: transparent;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

.section-title {
  margin: 0 0 20px 0;
  color: var(--dark);
  font-weight: 400;
  font-size: 3rem;
}
.section-desc {
  max-width: 1080px;
  margin: 0;
  line-height: 2;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url("../icon/tooltip.svg") center no-repeat;
  cursor: help;
}
.tooltip::before {
  content: "";
  position: absolute;
  bottom: 12px;
  border: 8px solid transparent;
  border-top: 8px solid var(--gray-light);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip__body {
  position: absolute;
  bottom: 28px;
  left: -125px;
  display: inline-block;
  width: max-content;
  max-width: 264px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--gray-light);
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  content-visibility: auto;
}
.tooltip:focus::before, .tooltip:focus .tooltip__body, .tooltip:hover::before, .tooltip:hover .tooltip__body {
  opacity: 1;
}

.login-link {
  color: var(--white, #fff);
  font-size: 1.125rem;
}

.text-purple {
  color: var(--purple, #9d5cd0);
}
.text-light {
  color: var(--white, #fff);
}
.text-gray {
  color: var(--gray, #999);
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;
}
.search-form__icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s color;
}
.search-form__icon:hover {
  color: var(--purple);
}
.search-form__icon:focus {
  outline: none;
}
.search-form__icon:focus-visible {
  outline: 2px solid var(--outline-color);
}
.search-form__input {
  min-width: 222px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--white, #fff);
  color: var(--white, #fff);
  font-size: 18px;
  caret-color: var(--purple);
  transition: 150ms border-color;
}
.search-form__input:hover {
  border-color: var(--outline-color);
}
.search-form__input:focus {
  outline: none;
}
.search-form__input::placeholder {
  color: var(--white, #fff);
}

.filter {
  user-select: none;
}
.filter__desc {
  margin-bottom: 16px;
  font-weight: 600;
}
.filter__header {
  position: relative;
  width: 100%;
  margin-bottom: -1px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: currentColor;
  text-align: left;
  cursor: pointer;
  transition: 120ms all;
  transition-property: border, border-radius, background-color;
}
.filter__header::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 13px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../icon/dropdown-arrow-down-white.svg") center no-repeat;
  transition: 120ms transform;
}
.filter__header:focus {
  outline: none;
}
.filter__header:hover, .filter__header:focus-visible {
  background-color: rgba(0, 0, 0, 0.5);
}
.filter__header.is-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.filter__header.is-active::after {
  transform: rotate(180deg);
}
.filter__header:active {
  background-color: rgba(0, 0, 0, 0.7);
}
.filter__body {
  display: none;
  margin: 0;
  color: var(--gray);
  animation: fadeIn 0.2s forwards;
}
.filter__body.is-opened {
  display: block;
}
.filter__option {
  --filter-border-raduis: 6px;
  margin-bottom: -1px;
  padding: 10px 20px;
  border: 1px solid var(--gray);
  cursor: pointer;
  transition: 120ms all;
  transition-property: border, border-radius, color, background-color, transform;
}
.filter__option:focus {
  outline: none;
}
.filter__option:first-child {
  border-top-left-radius: var(--filter-border-raduis);
  border-top-right-radius: var(--filter-border-raduis);
}
.filter__option:last-child {
  border-bottom-right-radius: var(--filter-border-raduis);
  border-bottom-left-radius: var(--filter-border-raduis);
}
.filter__option:hover, .filter__option:focus-visible {
  border-color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  transform: scale(1.005);
}
.filter__option.selected {
  background: #111;
  color: var(--white);
}
.filter__body.is-opened .filter__option:first-child {
  border-top-color: var(--white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}

.language-picker {
  display: flex;
}
.language-picker__item:not(:last-child) {
  margin-right: 35px;
}
.language-picker__btn {
  width: 62px;
  height: 62px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 0.2s border-color;
}
.language-picker__btn:hover {
  border-color: var(--gray);
}
.language-picker__btn:focus {
  border-color: var(--purple-light);
  outline: none;
}
.language-picker__btn.selected {
  border-color: var(--outline-color);
}
.language-picker__btn:active {
  border-color: var(--purple-light);
}
.language-picker__img {
  padding: 8px;
}

.personality__avatar {
  display: inline-block;
  margin-bottom: 30px;
}
.personality__name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1.5rem;
}
.personality__date {
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 0.75rem;
}
.personality__desc {
  line-height: 2rem;
}

.accordion {
  overflow: hidden;
  width: 100%;
}
.accordion__item {
  border-top: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-light);
  transition: 0.3s border-color ease;
}
.accordion__item:not(:first-child) {
  margin-top: -1px;
}
.accordion__item--opened {
  border-color: var(--outline-color);
}
.accordion__item--opened .accordion__icon {
  transform: rotate(270deg);
}
.accordion__item--opened .accordion__body {
  max-height: 320px;
  border-color: var(--outline-color);
}
.accordion__item--opened, .accordion__item:hover {
  border-color: var(--purple);
}
.accordion__item--opened + .accordion__item, .accordion__item:hover + .accordion__item {
  border-top-color: var(--purple);
}
.accordion__item--opened .accordion__btn, .accordion__item:hover .accordion__btn {
  color: var(--purple);
}
.accordion__item--opened .accordion__icon, .accordion__item:hover .accordion__icon {
  border-color: var(--purple);
  background-color: var(--purple);
}
.accordion__item--opened .accordion__icon::after, .accordion__item:hover .accordion__icon::after {
  color: var(--white);
}
.accordion__item:active {
  border-color: var(--purple-dark);
}
.accordion__item:active + .accordion__item {
  border-top-color: var(--purple-dark);
}
.accordion__item:active .accordion__btn {
  color: var(--purple-dark);
}
.accordion__item:active .accordion__icon {
  border-color: var(--purple-light);
  background-color: var(--purple-dark);
}
.accordion__item:active .accordion__icon::after {
  color: var(--white);
}
.accordion__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0 35px;
  color: var(--dark);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: 0.3s color ease;
}
.accordion__btn:focus {
  outline: none;
}
.accordion__icon {
  position: relative;
  width: 52px;
  height: 52px;
  border: 2px solid #ececec;
  border-radius: 50%;
  background-color: #ececec;
  transition: 0.3s all ease;
  transition-property: background-color, border-color, opacity, transform;
  transform: rotate(90deg);
}
.accordion__icon::after {
  content: "next";
  position: absolute;
  top: 15px;
  right: 0;
  left: 21px;
  color: var(--dark);
  font-size: 1rem;
  font-family: swiper-icons;
  transition: 0.3s color ease;
}
.accordion__body {
  max-height: 0;
  border-top: 1px solid transparent;
  transition: 0.3s max-height ease;
  content-visibility: auto;
}
.accordion__body-content {
  padding: 33px 2px;
  column-count: 3;
  column-gap: 65px;
}
.accordion__option {
  display: block;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s all;
  transition-property: color, border-color;
}
.accordion__option:not(:last-child) {
  margin-bottom: 13px;
}
.accordion__option:hover {
  border-color: var(--outline-color);
}
.accordion__option--selected {
  font-weight: 600;
}
.accordion__option:hover, .accordion__option--selected {
  color: var(--purple);
}
.accordion__option:focus {
  outline: none;
}
.accordion__option:focus-visible {
  outline: 2px solid var(--outline-color);
}

.item-event {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  border: 1px solid #ddd;
}
.item-event__image-box {
  max-width: 500px;
}
.item-event__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 10px 35px 0 50px;
}
.item-event__info {
  padding: 14px 18px 0 0;
  color: var(--gray, #999);
  font-size: 0.75rem;
  text-align: right;
}
.item-event__title {
  margin: 0 0 5px 0;
  font-size: 1.45rem;
  line-height: 1.3;
}
.item-event__desc {
  line-height: 2rem;
}
.item-event__link {
  margin-top: 90px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--outline-color);
  color: var(--purple);
  cursor: pointer;
}

.checkbox__title {
  margin-bottom: 14px;
  font-weight: 700;
}
.checkbox__item {
  user-select: none;
}
.checkbox__item:not(:last-child) {
  margin-bottom: 14px;
}
.checkbox__label {
  cursor: pointer;
  transition: 0.1s color;
}
.checkbox__label:hover {
  color: var(--purple-light);
}
.checkbox__label:active {
  color: var(--purple-dark);
}
.checkbox__label:focus {
  outline: none;
}
.checkbox__label:focus-visible {
  outline: 2px solid var(--purple);
}
.checkbox__icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid;
}
.checkbox__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--purple-light);
  opacity: 0;
  transition: 0.1s opacity;
}
.checkbox__label:hover .checkbox__icon::after {
  opacity: 1;
}
.checkbox__label:active .checkbox__icon::after {
  opacity: 0;
}
.checkbox__input:checked + * + span {
  color: var(--purple);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--purple);
}
.checkbox__input:checked + .checkbox__icon::after {
  background-color: var(--purple);
  opacity: 1;
}

.slider-nav {
  display: flex;
  align-items: center;
}
.slider-nav__fraction {
  width: auto;
  margin: 0 20px;
}
.slider-nav__btn-prev, .slider-nav__btn-next {
  position: relative;
  width: 32px;
  height: 32px;
  border: 2px solid #666;
  border-radius: 50%;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all;
  transition-property: background-color, border-color, opacity;
}
.slider-nav__btn-prev::after, .slider-nav__btn-next::after {
  position: absolute;
  top: 5px;
  font-family: swiper-icons;
}
.slider-nav__btn-prev:hover, .slider-nav__btn-next:hover {
  border-color: var(--purple);
  background-color: var(--purple);
}
.slider-nav__btn-prev:focus, .slider-nav__btn-next:focus {
  outline: none;
}
.slider-nav__btn-prev:focus-visible, .slider-nav__btn-next:focus-visible {
  border-color: var(--outline-color);
}
.slider-nav__btn-prev:active, .slider-nav__btn-next:active {
  background-color: var(--purple-dark);
}
.slider-nav__btn-prev.swiper-button-disabled, .slider-nav__btn-prev:disabled, .slider-nav__btn-next.swiper-button-disabled, .slider-nav__btn-next:disabled {
  opacity: 0.8;
  pointer-events: none;
}
.slider-nav__btn-prev::after {
  content: "prev";
  right: 3px;
  left: 0;
}
.slider-nav__btn-next::after {
  content: "next";
  right: 0;
  left: 3px;
}

.input-group {
  --input-group-border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  border: var(--input-group-border);
}
.input-group--rounded {
  border-radius: 6px;
}
.input-group__prepend, .input-group__append {
  overflow: hidden;
}
.input-group__label, .input-group__input {
  padding: 10px 11px;
}
.input-group__label:not(:first-child) {
  margin-left: -1px;
}
.input-group__label:not(:last-child) {
  margin-right: -1px;
}
.input-group__input {
  max-width: 73px;
  background-color: rgba(157, 92, 208, 0.5);
  color: inherit;
}
.input-group__input::placeholder {
  color: inherit;
}
.input-group__input:focus {
  outline: 2px solid var(--purple-light);
}
.input-group__input:focus::placeholder {
  color: var(--gray);
}
.input-group__prepend {
  margin-right: -1px;
  border-radius: 6px 0 0 6px;
}
.input-group__append {
  margin-left: -1px;
  border-radius: 0 6px 6px 0;
}

.editions-slider {
  overflow: hidden;
}
.editions-slider__navigation {
  margin-bottom: 32px;
}
.editions-slider__item {
  width: auto;
}
.editions-slider__img {
  object-fit: cover;
  width: 350px;
  height: 390px;
  margin-bottom: 20px;
}
.editions-slider__meta {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 16px;
}
.editions-slider__price {
  font-style: italic;
}
.editions-slider__title {
  margin-bottom: 5px;
  font-weight: 700;
}
.editions-slider__btn {
  padding: 10px 20px;
  color: var(--white);
}

.address__title {
  margin-bottom: 13px;
  font-size: 1.5rem;
}

.call-form__title {
  margin: 40px 0 20px 0;
  font-size: 1.4rem;
}
.call-form__input {
  width: 100%;
  margin-bottom: 23px;
  padding: 10px 20px;
  border: 1px solid var(--dark);
  border-radius: 20px;
}
.call-form__input::placeholder {
  color: var(--gray, #999);
}
.call-form__submit {
  padding: 16px 38px;
}

.contact-icons__title {
  margin: 0 0 15px 0;
  font-size: 1.35rem;
}
.contact-icons__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.contact-icons__item:not(:last-child) {
  margin-right: 15px;
}
.contact-icons__item--wt {
  background-image: url("../icon/logo-whatsapp.svg");
}
.contact-icons__item--tg {
  background-image: url("../icon/logo-tg.svg");
}

.social-icons {
  display: flex;
}
.social-icons__item {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.social-icons__item:not(:last-child) {
  margin-right: 20px;
}
.social-icons__item--vk {
  background-image: url("../icon/icon-vk.svg");
}
.social-icons__item--inst {
  background-image: url("../icon/icon-instagram.svg");
}
.social-icons__item--fb {
  background-image: url("../icon/icon-fb.svg");
}

.dropdown {
  position: relative;
  user-select: none;
}
.dropdown__header {
  color: var(--white);
  font-weight: 400;
  letter-spacing: 1px;
}
.dropdown__icon {
  transition: 0.3s transform;
}
.dropdown__header.active .dropdown__icon {
  transform: rotate(180deg);
}
.dropdown__list {
  position: absolute;
  top: 45px;
  display: none;
  overflow-y: scroll;
  max-height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  content-visibility: auto;
}
.dropdown__list.show {
  display: block;
}
.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}
.dropdown__link {
  position: relative;
  display: block;
  width: 100%;
  min-width: 220px;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-weight: 400;
  font-size: 0.875rem;
}
.dropdown__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: 0.3s all;
  transition-property: opacity, outline-color;
}
.dropdown__link:hover, .dropdown__link:focus {
  outline: 2px solid var(--outline-color);
}
.dropdown__link:focus::after {
  opacity: 1;
}
.dropdown__link--tintoretto {
  background-image: url("../img/header__dropdown/dropdown__1.1.jpg");
}
.dropdown__link--frederick {
  background-image: url("../img/header__dropdown/dropdown__1.2.jpg");
}
.dropdown__link--leonardo {
  background-image: url("../img/header__dropdown/dropdown__1.3.jpg");
}
.dropdown__link--verrocchio {
  background-image: url("../img/header__dropdown/dropdown__1.4.jpg");
}
.dropdown__link--mone {
  background-image: url("../img/header__dropdown/dropdown__2.1.jpg");
}
.dropdown__link--sisley {
  background-image: url("../img/header__dropdown/dropdown__2.2.jpg");
}
.dropdown__link--mane {
  background-image: url("../img/header__dropdown/dropdown__2.3.jpg");
}
.dropdown__link--renuar {
  background-image: url("../img/header__dropdown/dropdown__2.4.jpg");
}
.dropdown__link--vangogh {
  background-image: url("../img/header__dropdown/dropdown__3.1.jpg");
}
.dropdown__link--cezanne {
  background-image: url("../img/header__dropdown/dropdown__3.2.jpg");
}
.dropdown__link--gogen {
  background-image: url("../img/header__dropdown/dropdown__3.3.jpg");
}
.dropdown__link--sulfur {
  background-image: url("../img/header__dropdown/dropdown__3.4.jpg");
}
.dropdown__link--kandinsky {
  background-image: url("../img/header__dropdown/dropdown__4.1.jpg");
}
.dropdown__link--marinetti {
  background-image: url("../img/header__dropdown/dropdown__4.2.jpg");
}
.dropdown__link--malevich {
  background-image: url("../img/header__dropdown/dropdown__4.3.jpg");
}
.dropdown__link--picasso {
  background-image: url("../img/header__dropdown/dropdown__4.4.jpg");
}
.dropdown__link--karra {
  background-image: url("../img/header__dropdown/dropdown__5.1.jpg");
}
.dropdown__link--pratella {
  background-image: url("../img/header__dropdown/dropdown__5.2.jpg");
}
.dropdown__link--severini {
  background-image: url("../img/header__dropdown/dropdown__5.3.jpg");
}
.dropdown__link--balla {
  background-image: url("../img/header__dropdown/dropdown__5.4.jpg");
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans Semibold"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}
.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  position: absolute;
  width: 100%;
  color: var(--white, #fff);
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__primary {
  padding: 29px 0;
  background: var(--primary);
}
.header__secondary {
  padding: 21px 0;
  background: rgba(0, 0, 0, 0.4);
}
.header__nav {
  margin-right: 96px;
}
.header__list {
  display: flex;
  flex-direction: row;
}
.header__item {
  font-weight: 600;
  font-size: 1.125rem;
}
.header__item:not(:last-child) {
  margin-right: 58px;
}
.header__item--dropdown {
  font-size: 1.125rem;
}
.header__item--dropdown:not(:last-child) {
  margin-right: 94px;
}
.header__link {
  color: var(--white, #fff);
}

.hero {
  background: url("../img/hero-1.jpg") no-repeat center;
  background-size: cover;
  color: var(--white, #fff);
}
.hero__container {
  padding-top: 242px;
  padding-bottom: 123px;
}
.hero__title {
  max-width: 600px;
  margin: 0 0 21px -5px;
  font-size: 4.5rem;
}
.hero__desc {
  max-width: 580px;
  margin: 0 0 90px 0;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.7;
}
.hero__btn {
  padding: 23px 34px;
  font-size: 1.125rem;
}

.about__container {
  padding-top: 85px;
  padding-bottom: 70px;
}

.gallery {
  background: url("../img/gallery-bg.jpg") center no-repeat;
  background-size: cover;
  color: var(--white);
}
.gallery__container {
  display: grid;
  grid-template-areas: "header slider" "note slider";
  grid-template-rows: 430px 400px;
  grid-template-columns: 400px calc(100% - 400px);
  grid-column-gap: 50px;
  padding-top: 85px;
  padding-bottom: 80px;
}
.gallery__header {
  grid-area: header;
}
.gallery__title {
  margin-bottom: 30px;
  padding: 0;
  color: var(--white, #fff);
}
.gallery__slider {
  position: relative;
  grid-area: slider;
  overflow: hidden;
  width: 100%;
  max-width: 1150px;
  height: 100%;
}
.gallery__item {
  position: relative;
  height: auto;
  max-height: 350px;
  border: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s opacity, 0s border-color;
}
.gallery__item:active {
  border-color: var(--purple-light);
}
.gallery__item:focus {
  border-color: var(--outline-color);
  outline: none;
}
.gallery__item::before, .gallery__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s opacity;
}
.gallery__item::before {
  z-index: 1;
  background-color: rgba(194, 131, 243, 0.4);
}
.gallery__item::after {
  z-index: 2;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  margin: auto;
  background: rgba(0, 0, 0, 0.5) url("../icon/zoom-in.svg") center no-repeat;
}
.gallery__item:active::before, .gallery__item:focus::before, .gallery__item:hover::after {
  opacity: 1;
}
.gallery__img {
  position: relative;
  object-fit: cover;
  width: auto;
}
.gallery__navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}
.gallery__note {
  grid-area: note;
  align-self: flex-end;
  max-width: 360px;
  margin-bottom: -11px;
  line-height: 32px;
}

.catalog__container--top {
  margin-bottom: 40px;
  padding-top: 85px;
}
.catalog__container--bottom {
  display: flex;
}
.catalog__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.catalog__title {
  margin-right: 30px;
  margin-bottom: 0;
  padding: 0;
}
.catalog__personality {
  max-width: 750px;
}
.catalog__accordion {
  margin: 0 0 0 50px;
}

.events {
  margin-bottom: 80px;
}
.events__container {
  padding-top: 85px;
}
.events__title {
  margin-bottom: 20px;
}
.events__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 50px;
  justify-content: center;
  margin-bottom: 48px;
}
.events__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 34px;
  font-size: 1.1rem;
}

.editions {
  background: url("../img/editions-bg.jpg");
  background-size: cover;
}
.editions__container {
  display: flex;
  justify-content: space-between;
  padding: 83px 13px 75px 15px;
}
.editions__title {
  margin-bottom: 28px;
  padding-top: 0;
  color: var(--white, #fff);
}
.editions__checkbox {
  margin-bottom: 40px;
}
.editions__price-title {
  margin-bottom: 16px;
  font-weight: 700;
}
.editions--right-side {
  max-width: 100%;
  padding-top: 30px;
}
.editions__slider {
  max-width: 1150px;
}

.projects__container {
  margin-bottom: 25px;
  padding-top: 85px;
}
.projects-partners__title {
  margin-bottom: 25px;
  font-size: 1.44rem;
}
.projects-partners__slider {
  position: relative;
}
.projects-partners__slider-container {
  max-width: 1450px;
}
.projects-partners__list {
  width: 100%;
  margin: auto;
}
.projects-partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: auto;
  padding: 37px 0;
  border: 1px solid var(--gray-light);
  opacity: 0.5;
  filter: grayscale(1);
  transition: 0.5s all;
  transition-property: filter, opacity;
}
@media (hover: hover) {
  .projects-partners__item:hover {
    opacity: 1;
    filter: grayscale(0);
  }
}
.projects-partners__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: auto 0;
  background-image: url("../icon/arrow-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(-90deg);
}
.projects-partners__btn--prev {
  transform: rotate(90deg);
}
.projects-partners__btn--next {
  right: 0;
}

.contacts__container {
  padding-top: 85px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__actions {
  width: 100%;
  max-width: 682px;
  padding: 126px 121px 123px 159px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: var(--gray-light);
}
.contacts__address {
  margin-bottom: 8px;
}
.contacts__form {
  margin-bottom: 45px;
}

.footer {
  background: var(--black);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
