@import 'mixins/hover';

.placeholder {
  max-width: 740px;
  margin: 24px auto;
  font-family: sans-serif;
  text-align: justify;
  pointer-events: none;
  user-select: none;

  &__word {
    border-radius: 3px;
    background: #eee;
    color: #eee;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
}

// Section
.section {
  &-title {
    padding-top: 85px;
    color: var(--dark);
    font-weight: 400;
    font-size: 3rem;
  }

  &-desc {
    max-width: 1080px;
    padding-top: 20px;
    line-height: 2;
  }
}

// Login link
.login-link {
  color: var(--white, #fff);
  font-size: 1.125rem;
}

// Text
.text {
  &-purple {
    color: var(--purple, #9d5cd0);
  }

  &-light {
    color: var(--white, #fff);
  }

  &-gray {
    color: var(--gray, #999);
  }
}

// Search
.search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background-image: url('../icon/search.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__input {
    min-width: 222px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white, #fff);
    color: var(--white, #fff);
    font-size: 18px;

    &::placeholder {
      color: var(--white, #fff);
    }
  }
}

// Filter
.filter {
  user-select: none;

  &__desc {
    font-weight: 600;
  }

  &__header,
  &__option {
    cursor: pointer;
    transition: 60ms all;
    transition-property: border-color, color, background, transform;

    @include hover {
      border-color: var(--white);
      background: rgba(0, 0, 0, 0.5);
      color: var(--white);
    }
  }

  &__header {
    margin: 16px 0 -1px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 6px;
  }

  &__body {
    margin: 0;
    border-color: var(--gray);
    color: var(--gray);
  }

  &__option {
    margin-bottom: -1px;
    padding: 10px 20px;
    border: 1px solid var(--gray);

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    @include hover {
      transform: scale(1.005);
    }
  }
}

// Language picker
.language-picker {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.2s border-color;

    &:hover {
      border-color: var(--gray-light);
    }
  }

  &__input:checked + &__img {
    border-color: var(--purple);
  }

  // @todo create animation via ::after onn selected item (border animation)
}

// Personality
.personality {
  &__avatar {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__date {
    margin-bottom: 8px;
    color: var(--gray-light);
    font-size: 0.75rem;
  }

  &__desc {
    line-height: 2rem;
  }
}

// Accordion //- @todo fix
.accordion {
  overflow: hidden;
  width: 100%;

  &__item {
    position: relative;
    border-bottom: 1px solid #cacaca;

    &:first-child {
      border-top: 1px solid #cacaca;
    }

    &--opened {
      border-bottom-color: var(--purple);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--dark);
      transition: 0.3s transform;
      transform: translateX(-100%);
    }

    &:focus::before,
    &:hover:not(&--opened)::before {
      transform: translateX(0);
    }
  }

  &__btn {
    position: relative;
    width: 100%;
    padding: 44px 0;
    border-bottom: 1px solid transparent;
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      margin: auto;
      background: url('../icon/arrow-down.svg') center no-repeat;
      background-size: cover;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.3s all;
      transition-property: transform, opacity;
    }
  }

  &__item--opened &__btn {
    border-bottom-color: var(--purple);

    &::after {
      transform: rotate(180deg);
    }
  }

  &__btn:focus::after,
  &__btn:hover::after,
  &__item--opened &__btn::after {
    opacity: 1;
  }

  &__body {
    flex-wrap: wrap;
    overflow: hidden;
    //height: auto;
    max-height: 0;
    transition: 0.2s all;
    transition-property: max-height;
  }

  &__item--opened &__body {
    max-height: 300px;
    padding: 20px 0;
  }

  &__option {
    display: inline-flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: left;
    cursor: pointer;
    transition: 0.2s color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover,
    &--selected {
      color: var(--purple);
    }

    &--selected {
      font-weight: 600;
    }
  }
}

.item-event {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  border: 1px solid #ddd;

  &__image-box {
    max-width: 500px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 10px 35px 0 50px;
  }

  &__info {
    padding: 14px 18px 0 0;
    color: var(--gray, #999);
    font-size: 0.75rem;
    text-align: right;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 1.45rem;
    line-height: 1.3;
  }

  &__desc {
    line-height: 2rem;
  }

  &__link {
    margin-top: 23px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--purple);
    color: var(--purple);
    cursor: pointer;
  }
}
