@import 'mixins/hover';

.section {
  &-title {
    padding-top: 85px;
    font-weight: 400;
    font-size: 3rem;
    color: var(--dark);
  }

  &-desc {
    padding-top: 20px;
    max-width: 1080px;
    line-height: 2;
  }
}

.login-link {
  font-size: 1.125rem;
  color: var(--white, #fff);
}

.text {
  &-purple {
    color: var(--purple, #9d5cd0);
  }

  &-light {
    color: var(--white, #fff);
  }

  &-gray {
    color: var(--gray, #999);
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;

  &__icon {
    margin-right: 5px;
    width: 22px;
    height: 22px;
    cursor: pointer;

    background-image: url('../icon/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__input {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white, #fff);
    min-width: 222px;
    color: var(--white, #fff);
    font-size: 18px;

    &::placeholder {
      color: var(--white, #fff);
    }
  }
}

// Filter
.filter {
  user-select: none;

  &__desc {
    font-weight: 600;
  }

  &__header,
  &__option {
    cursor: pointer;
    transition: 60ms all;
    transition-property: border-color, color, background, transform;

    @include hover {
      border-color: var(--white);
      color: var(--white);
      background: rgba(0, 0, 0, .5);
    }
  }

  &__header {
    padding: 10px 15px;
    margin: 16px 0 -1px;
    border: 1px solid #fff;
    border-radius: 6px;
  }

  &__body {
    margin: 0;
    border-color: var(--gray);
    color: var(--gray);
  }

  &__option {
    padding: 10px 20px;
    border: 1px solid var(--gray);
    margin-bottom: -1px;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    @include hover {
      transform: scale(1.005);
    }
  }
}

.language-picker {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    padding: 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: .2s border-color;
    user-drag: none;

    &:hover {
      border-color: var(--gray-light);
    }
  }

  &__input:checked + &__img {
    border-color: var(--purple);
  }

  // @todo create animation via ::after onn selected item (border animation)
}

.personality {
  &__avatar {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__date {
    margin-bottom: 8px;
    color: var(--gray-light);
    font-size: 0.75rem;
  }

  &__desc {

    line-height: 2rem;
  }
}

// Accordion //- @todo fix
.accordion {
  width: 100%;
  overflow: hidden;

  &__item {
    position: relative;
    border-bottom: 1px solid #cacaca;

    &:first-child {
      border-top: 1px solid #cacaca;
    }

    &--opened {
      border-bottom-color: var(--purple);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      width: 100%;
      background: var(--dark);
      transform: translateX(-100%);
      transition: .3s transform;
    }

    &:focus::before,
    &:hover:not(&--opened)::before {
      transform: translateX(0);
    }

  }


  &__btn {
    position: relative;
    padding: 44px 0;
    width: 100%;
    border-bottom: 1px solid transparent;
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      margin: auto;

      right: 0;
      top: 0;
      bottom: 0;

      width: 50px;
      height: 50px;
      opacity: .5;

      background: url('../icon/arrow-down.svg') center no-repeat;
      background-size: cover;

      cursor: pointer;
      transition: .3s all;
      transition-property: transform, opacity;
    }
  }

  &__item--opened &__btn {
    border-bottom-color: var(--purple);

    &::after {
      transform: rotate(180deg);
    }
  }

  &__btn:focus::after,
  &__btn:hover::after,
  &__item--opened &__btn::after {
    opacity: 1;
  }

  &__body {
    flex-wrap: wrap;
    //height: auto;

    max-height: 0;
    overflow: hidden;
    transition: .2s all;
    transition-property: max-height;
  }

  &__item--opened &__body {
    padding: 20px 0;
    max-height: 300px;
  }


  &__option {
    display: inline-flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: left;
    cursor: pointer;
    transition: .2s color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover,
    &--selected {
      color: var(--purple);
    }

    &--selected {
      font-weight: 600;
    }
  }

}