@import 'mixins/hover';
@import 'mixins/hide-input-number-arrow';

.placeholder {
  font-family: sans-serif;
  text-align: justify;
  pointer-events: none;
  user-select: none;

  &__word {
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 3px;
    background: #eee;
    color: transparent;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
}

// Section
.section {
  &-title {
    margin: 0 0 20px 0;
    color: var(--dark);
    font-weight: 400;
    font-size: 3rem;
  }

  &-desc {
    max-width: 1080px;
    margin: 0;
    line-height: 2;
  }
}

// Tooltip
.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: url('../icon/tooltip.svg') center no-repeat;
  cursor: help;

  &::before {
    content: '';
    position: absolute;
    bottom: 12px;
    border: 8px solid transparent;
    border-top: 8px solid var(--gray-light);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__body {
    position: absolute;
    bottom: 28px;
    left: -125px;
    display: inline-block;
    width: max-content;
    max-width: 264px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--gray-light);
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    content-visibility: auto;
  }

  &:focus::before,
  &:focus &__body,
  &:hover::before,
  &:hover &__body {
    opacity: 1;
  }
}

// Login link
.login-link {
  color: var(--white, #fff);
  font-size: 1.125rem;
}

// Text
.text {
  &-purple {
    color: var(--purple, #9d5cd0);
  }

  &-light {
    color: var(--white, #fff);
  }

  &-gray {
    color: var(--gray, #999);
  }
}

// Search
.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s color;

    &:hover {
      color: var(--purple);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--outline-color);
    }
  }

  &__input {
    min-width: 222px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white, #fff);
    color: var(--white, #fff);
    font-size: 18px;
    caret-color: var(--purple);
    transition: 150ms border-color;

    &:hover {
      border-color: var(--outline-color);
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--white, #fff);
    }
  }
}

// Filter
.filter {
  user-select: none;

  // desc
  &__desc {
    margin-bottom: 16px;
    font-weight: 600;
  }

  // header
  &__header {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: currentColor;
    text-align: left;
    cursor: pointer;
    transition: 120ms all;
    transition-property: border, border-radius, background-color;

    &::after {
      content: '';
      position: absolute;
      top: 11px;
      right: 13px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../icon/dropdown-arrow-down-white.svg') center no-repeat;
      transition: 120ms transform;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus-visible {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.is-active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: rgba(0, 0, 0, 0.6);

      &::after {
        transform: rotate(180deg);
      }
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  // body
  &__body {
    display: none;
    margin: 0;
    color: var(--gray);
    animation: fadeIn 0.2s forwards;

    &.is-opened {
      display: block;
    }
  }

  // option
  &__option {
    --filter-border-raduis: 6px;

    margin-bottom: -1px;
    padding: 10px 20px;
    border: 1px solid var(--gray);
    cursor: pointer;
    transition: 120ms all;
    transition-property: border, border-radius, color, background-color, transform;

    &:focus {
      outline: none;
    }

    &:first-child {
      border-top-left-radius: var(--filter-border-raduis);
      border-top-right-radius: var(--filter-border-raduis);
    }

    &:last-child {
      border-bottom-right-radius: var(--filter-border-raduis);
      border-bottom-left-radius: var(--filter-border-raduis);
    }

    &:hover,
    &:focus-visible {
      border-color: var(--white);
      background-color: rgba(0, 0, 0, 0.5);
      color: var(--white);
      transform: scale(1.005);
    }

    &.selected {
      background: #111;
      color: var(--white);
    }
  }

  // body opened -> first option
  &__body.is-opened &__option:first-child {
    border-top-color: var(--white);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @keyframes fadeIn {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 300px;
      opacity: 1;
    }
  }
}

// Language picker
.language-picker {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__btn {
    width: 62px;
    height: 62px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.2s border-color;

    &:hover {
      border-color: var(--gray);
    }

    &:focus {
      border-color: var(--purple-light);
      outline: none;
    }

    &.selected {
      border-color: var(--outline-color);
    }

    &:active {
      border-color: var(--purple-light);
    }
  }

  &__img {
    padding: 8px;
  }
}

// Personality
.personality {
  &__avatar {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__date {
    margin-bottom: 8px;
    color: var(--gray);
    font-size: 0.75rem;
  }

  &__desc {
    line-height: 2rem;
  }
}

// Accordion
.accordion {
  overflow: hidden;
  width: 100%;

  // item
  &__item {
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
    transition: 0.3s border-color ease;

    &:not(:first-child) {
      margin-top: -1px;
    }

    // opened item
    &--opened {
      border-color: var(--outline-color);

      .accordion {
        &__icon {
          transform: rotate(270deg);
        }

        &__body {
          max-height: 320px;
          border-color: var(--outline-color);
        }
      }
    }

    // hovered item
    &--opened,
    &:hover {
      border-color: var(--purple);

      + .accordion__item {
        border-top-color: var(--purple);
      }

      .accordion {
        &__btn {
          color: var(--purple);
        }

        &__icon {
          border-color: var(--purple);
          background-color: var(--purple);

          &::after {
            color: var(--white);
          }
        }
      }
    }

    // active item
    &:active {
      border-color: var(--purple-dark);

      + .accordion__item {
        border-top-color: var(--purple-dark);
      }

      .accordion {
        &__btn {
          color: var(--purple-dark);
        }

        &__icon {
          border-color: var(--purple-light);
          background-color: var(--purple-dark);

          &::after {
            color: var(--white);
          }
        }
      }
    }
  }

  // btn
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0 35px;
    color: var(--dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    cursor: pointer;
    transition: 0.3s color ease;

    &:focus {
      outline: none;
    }
  }

  // icon
  &__icon {
    position: relative;
    width: 52px;
    height: 52px;
    border: 2px solid #ececec;
    border-radius: 50%;
    background-color: #ececec;
    transition: 0.3s all ease;
    transition-property: background-color, border-color, opacity, transform;
    transform: rotate(90deg);

    &::after {
      content: 'next';
      position: absolute;
      top: 15px;
      right: 0;
      left: 21px;
      color: var(--dark);
      font-size: 1rem;
      font-family: swiper-icons;
      transition: 0.3s color ease;
    }
  }

  // body
  &__body {
    max-height: 0;
    border-top: 1px solid transparent;
    transition: 0.3s max-height ease;
    content-visibility: auto;

    &-content {
      padding: 33px 2px;
      column-count: 3;
      column-gap: 65px;
    }
  }

  // option
  &__option {
    display: block;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s all;
    transition-property: color, border-color;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &:hover {
      border-color: var(--outline-color);
    }

    &--selected {
      font-weight: 600;
    }

    &:hover,
    &--selected {
      color: var(--purple);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--outline-color);
    }
  }
}

// Item event
.item-event {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  border: 1px solid #ddd;

  &__image-box {
    max-width: 500px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 10px 35px 0 50px;
  }

  &__info {
    padding: 14px 18px 0 0;
    color: var(--gray, #999);
    font-size: 0.75rem;
    text-align: right;
  }

  &__title {
    margin: 0 0 5px 0;
    font-size: 1.45rem;
    line-height: 1.3;
  }

  &__desc {
    line-height: 2rem;
  }

  &__link {
    margin-top: 90px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--outline-color);
    color: var(--purple);
    cursor: pointer;
  }
}

// Checkbox
.checkbox {
  &__title {
    margin-bottom: 14px;
    font-weight: 700;
  }

  &__item {
    user-select: none;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__label {
    cursor: pointer;
    transition: 0.1s color;

    &:hover {
      color: var(--purple-light);
    }

    &:active {
      color: var(--purple-dark);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--purple);
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: 1px solid;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      height: 4px;
      margin: auto;
      border-radius: 50%;
      background-color: var(--purple-light);
      opacity: 0;
      transition: 0.1s opacity;
    }
  }

  // hover
  &__label:hover &__icon::after {
    opacity: 1;
  }

  // active
  &__label:active &__icon::after {
    opacity: 0;
  }

  // checked
  &__input:checked + * + span {
    color: var(--purple);
  }

  &__input:checked + &__icon {
    border-color: var(--purple);

    &::after {
      background-color: var(--purple);
      opacity: 1;
    }
  }
}

// Slider Navigation
.slider-nav {
  display: flex;
  align-items: center;

  &__fraction {
    width: auto;
    margin: 0 20px;
  }

  &__btn-prev,
  &__btn-next {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid #666;
    border-radius: 50%;
    background-color: #666;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    transition-property: background-color, border-color, opacity;

    &::after {
      position: absolute;
      top: 5px;
      font-family: swiper-icons;
    }

    &:hover {
      border-color: var(--purple);
      background-color: var(--purple);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-color: var(--outline-color);
    }

    &:active {
      background-color: var(--purple-dark);
    }

    &.swiper-button-disabled,
    &:disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  &__btn-prev::after {
    content: 'prev';
    right: 3px;
    left: 0;
  }

  &__btn-next::after {
    content: 'next';
    right: 0;
    left: 3px;
  }
}

// Input Group
.input-group {
  --input-group-border: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  border: var(--input-group-border);

  &--rounded {
    border-radius: 6px;
  }

  &__prepend,
  &__append {
    overflow: hidden;
  }

  &__label,
  &__input {
    padding: 10px 11px;
  }

  &__label {
    &:not(:first-child) {
      margin-left: -1px;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }
  }

  &__input {
    @extend %hide-input-num-arrow;

    max-width: 73px;
    background-color: rgba(157, 92, 208, 0.5);
    color: inherit;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      outline: 2px solid var(--purple-light);

      &::placeholder {
        color: var(--gray);
      }
    }
  }

  &__prepend {
    margin-right: -1px;
    border-radius: 6px 0 0 6px;
  }

  &__append {
    margin-left: -1px;
    border-radius: 0 6px 6px 0;
  }
}

// Editions Slider
.editions-slider {
  overflow: hidden;

  &__navigation {
    margin-bottom: 32px;
  }

  &__item {
    width: auto;
  }

  &__img {
    object-fit: cover;
    width: 350px;
    height: 390px;
    margin-bottom: 20px;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 16px;
  }

  &__price {
    font-style: italic;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 700;
  }

  &__btn {
    padding: 10px 20px;
    color: var(--white);
  }
}

// Address
.address {
  &__title {
    margin-bottom: 13px;
    font-size: 1.5rem;
  }
}

// Call form
.call-form {
  &__title {
    margin: 40px 0 20px 0;
    font-size: 1.4rem;
  }

  &__input {
    width: 100%;
    margin-bottom: 23px;
    padding: 10px 20px;
    border: 1px solid var(--dark);
    border-radius: 20px;

    &::placeholder {
      color: var(--gray, #999);
    }
  }

  &__submit {
    padding: 16px 38px;
  }
}

// Contact icons
.contact-icons {
  &__title {
    margin: 0 0 15px 0;
    font-size: 1.35rem;
  }

  &__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--wt {
      background-image: url('../icon/logo-whatsapp.svg');
    }

    &--tg {
      background-image: url('../icon/logo-tg.svg');
    }
  }
}

// Social
.social-icons {
  display: flex;

  &__item {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--vk {
      background-image: url('../icon/icon-vk.svg');
    }

    &--inst {
      background-image: url('../icon/icon-instagram.svg');
    }

    &--fb {
      background-image: url('../icon/icon-fb.svg');
    }
  }
}

// menu dropDown
.dropdown {
  position: relative;
  user-select: none;

  &__header {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 1px;
  }

  &__icon {
    transition: 0.3s transform;
  }

  &__header.active &__icon {
    transform: rotate(180deg);
  }

  &__list {
    position: absolute;
    top: 45px;
    display: none;
    overflow-y: scroll;
    max-height: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    content-visibility: auto;

    &.show {
      display: block;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    min-width: 220px;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    font-weight: 400;
    font-size: 0.875rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(194, 131, 243, 0.4);
      opacity: 0;
      transition: 0.3s all;
      transition-property: opacity, outline-color;
    }

    &:hover,
    &:focus {
      outline: 2px solid var(--outline-color);
    }

    &:focus::after {
      opacity: 1;
    }

    &--tintoretto {
      background-image: url('../img/header__dropdown/dropdown__1.1.jpg');
    }

    &--frederick {
      background-image: url('../img/header__dropdown/dropdown__1.2.jpg');
    }

    &--leonardo {
      background-image: url('../img/header__dropdown/dropdown__1.3.jpg');
    }

    &--verrocchio {
      background-image: url('../img/header__dropdown/dropdown__1.4.jpg');
    }

    // 2
    &--mone {
      background-image: url('../img/header__dropdown/dropdown__2.1.jpg');
    }

    &--sisley {
      background-image: url('../img/header__dropdown/dropdown__2.2.jpg');
    }

    &--mane {
      background-image: url('../img/header__dropdown/dropdown__2.3.jpg');
    }

    &--renuar {
      background-image: url('../img/header__dropdown/dropdown__2.4.jpg');
    }

    // 3
    &--vangogh {
      background-image: url('../img/header__dropdown/dropdown__3.1.jpg');
    }

    &--cezanne {
      background-image: url('../img/header__dropdown/dropdown__3.2.jpg');
    }

    &--gogen {
      background-image: url('../img/header__dropdown/dropdown__3.3.jpg');
    }

    &--sulfur {
      background-image: url('../img/header__dropdown/dropdown__3.4.jpg');
    }

    // 4
    &--kandinsky {
      background-image: url('../img/header__dropdown/dropdown__4.1.jpg');
    }

    &--marinetti {
      background-image: url('../img/header__dropdown/dropdown__4.2.jpg');
    }

    &--malevich {
      background-image: url('../img/header__dropdown/dropdown__4.3.jpg');
    }

    &--picasso {
      background-image: url('../img/header__dropdown/dropdown__4.4.jpg');
    }

    //5
    &--karra {
      background-image: url('../img/header__dropdown/dropdown__5.1.jpg');
    }

    &--pratella {
      background-image: url('../img/header__dropdown/dropdown__5.2.jpg');
    }

    &--severini {
      background-image: url('../img/header__dropdown/dropdown__5.3.jpg');
    }

    &--balla {
      background-image: url('../img/header__dropdown/dropdown__5.4.jpg');
    }
  }
}
