* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--black);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--white);
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--purple);
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

.link-primary {
  border: 2px solid transparent;
  transition: 0.3s all;
  transition-property: color, border-color;

  &:hover {
    color: var(--purple);
  }

  &:active {
    color: var(--purple-dark);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--outline-color);
    outline: none;
    transition: 0s all;
  }
}

.btn {
  display: inline-block;
  padding: 16px 26px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color, border-color, background-color;

  &--primary {
    border: 3px solid transparent;
    background: var(--purple);
    color: var(--white, #fff);

    &:hover {
      border-color: var(--purple-light);
      outline: none;
    }

    &:active {
      background-color: var(--purple-dark);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-style: double;
      border-color: var(--purple-light);
    }
  }

  &--secondary {
    border: 2px solid var(--outline-color);
    color: var(--purple);
    transition: 0.1s all;
    transition-property: background-color, color;

    &:hover {
      background-color: var(--purple);
      color: var(--white);
    }

    &:active {
      background-color: var(--purple-dark);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-style: double;
      border-color: var(--purple-light);
    }
  }
}

// make yan map grayscale
[class*=-ground-pane] {
  filter: grayscale(1);
}
